name: CMake on macOS (arm64)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: brew install sdl2 sdl2_mixer sdl2_net
        
    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_PREFIX_PATH="$(brew --prefix)" && cmake --build build --target help

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Set environment variables
      run: |
        echo "branch=${GITHUB_REF##*/}" >> $GITHUB_ENV
        echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: linuxdoom-plus-dev-arm64-${{ env.branch }}-${{ env.sha_short }}
        path: ${{github.workspace}}/build/linuxdoom-plus
